<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-success"><%= message.name %>【<%= message.age %>歳】</span>
      <%= message.body %>
      (<%= link_to "edit" , edit_message_path(message) %>
       <%=link_to "削除する", message, method: :delete,data: {confirm: '削除してもよろしいでしょうか？'}%>
      )
      <br>
    <% end %>
  </div>
</div>

<%= render 'form' %>
